.container {
  background-color: #32194c;
}

.dollars {
  flex-grow: 1;
  display: flex;
  font-size: 4rem;
  align-items: center;
  justify-content: center;
}

.currency {
  opacity: .75;
  font-size: .5em;
  position: relative;
  margin-left: .25em;
}

.conversions-container {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

.conversion {
  display: flex;
  align-items: center;
  justify-content: center;
}

.conversion > img {
  height: 2em;
  margin-right: .5em;
}

@media (max-width: 768px) {
  .conversions-container {
    flex-wrap: wrap;
  }

  .conversion {
    width: 100%;
    font-size: 2rem;
  }

  .conversion > img {
    height: 1em;
    margin-right: .5em;
  }
}
